

// .customers-flex {
//     display: flex;
    
//     justify-content: center;
//     align-items: center;
// }



// .customers-item {
//     margin-right: 30px;  

//     &:last-child {
//     margin-right: 0;
// }
// }


// .customers {
//     color: #AFB1B8;
//    @extend .section;
    
//     border-radius: 4px;
//     border: 1px solid #AFB1B8;
//     width: 170px;
//     height: 90px;


//     &:hover {
//     color: $accent-text-color;
//     border-radius: 4px;
//     border: 1px solid $accent-text-color;
//     transition: $transform250ms;

// }
// }

// .customers-icon {
//     fill: currentColor;
// }



.customers-flex {
    @extend %flex-centr;
}



 .customers-item {
    margin-right: 30px; 
    
    &:last-child {
    margin-right: 0;
}
}



.customers {
    @extend %flex-centr;
    color: #AFB1B8;
  
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 90px

}


.customers:hover {
    color: $accent-text-color;
    border-radius: 4px;
    border: 1px solid $accent-text-color;
    transition: $transform250ms;

}
.customers-icon {
    fill: currentColor;
}