
.portfolio-link {
    color: $white-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    box-sizing: border-box;  
     
}


.portfolio-link:hover .portfolio-text {
    transform: translateY(0);
}

.portfolio-hero-title {
    text-align: center;
}

.portfolio-title {
    
    color: $title-text-color;

    font-weight:700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-category {
    color: $text-color;

    font-size: 16px;
    line-height: 1.8;

    padding-right: 23px;
    padding-left: 23px;
    padding-bottom: 20px;
    margin: 0;

   
}



.portfolio-text {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-right: 24px;
    padding-left: 24px;
    transform: translateY(100%);
    transition: $transform250ms;
   
}

.portfolio-flex {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
}

.portfolio-item {
    /* width: calc((100% - 60px) / 3); */
    width: 370px;
    margin: 15px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    

    &:hover,
    &:focus {
    
   box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
    
}




.position-portfolio {
    position: relative;
    overflow: hidden;
}
